:root {
    --primario: #13C1AC;
    --primarioOscuro: #038172;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 187, 2);
    --blanco: #FFF;
    --gris: #3a3535;
    --negro: #000;

    --fuenteNav: 'Staatliches', cursive;
    --fuentePrincipal: 'Nunito';
    --fuenteSecundaria: 'Agbalumo';
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--blanco);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
}
a {
    text-decoration: none;
    color: #000;
    font-family: var(--fuentePrincipal);
}
img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    color: var(--gris);
    font-family: var(--fuenteSecundaria);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}

/** Header **/
.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;
}

/** Navegacion **/
.navegacion {
    background-color: var(--primario);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
}
.navegacion__enlace {
    font-family: var(--fuenteNav);
    color: var(--blanco);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--primarioOscuro);
}
.usuario-info {
    margin-left: 5rem;
}
.nombreUsuario{
    color: var(--blanco);
    font-weight: bold;
}
.cerrarSesion {
    color: var(--blanco);
}

.boton--nav{
    font-family: var(--fuentePrincipal);
    background-color: var(--primarioOscuro);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-left: 5rem;
    border: none;
    border-radius: 5rem;
}

/** Contacto **/
.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
}

.campo__label{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 1rem;
}

.campo__field{
    flex: 1; /*le doy un factor de crecimiento de 1*/
    border: 1px solid var(--gris);
}

.boton{
    display: block;
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
    border-radius: 5rem;
}
@media (min-width: 768px) {
    .boton{
        display: inline-block;
    }
}
.boton--primario{
    background-color: var(--primarioOscuro);
}

.derecha{
    display: block;
    margin-left: auto;
}

/** Anuncio **/
.listado-anuncios {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

.card{
    background-color: var(--primarioOscuro);
    width: 21rem;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Ajusta la dirección del contenedor flex a columna */
    align-items: center; /* Centra los elementos a lo largo del eje transversal (eje Y) */
}
.card img {
    width: 100%;
    height: 200px; /* Establece la altura deseada de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin cambiar su tamaño */
    border-bottom: 1px solid #ddd;
}

.card h4 {
    padding: 10px;
    margin: 0;
}

.card p {
    font-family: var(--fuentePrincipal);
    padding: 10px;
    margin: 0;
}

.icono_contenedor {
    display: flex;
}
.icono_borrar,
.icono_editar {
    margin-right: 10px;
}

.icono_borrar a,
.icono_editar a {
    color:var(--blanco);
}

.icono_siguiente a,
.icono_anterior a {
    color:var(--primarioOscuro);
    /*display: flex;
    align-items: center;*/
}

.icono_siguiente a i,
.icono_anterior a i {
    font-size: 3rem; 
}

/*FOOTER*/
.site-footer{
    border-top: 1px solid #e1e1e1;
    margin-top:  5rem;
    padding-top: 5rem;
}

.site-footer h3{
    margin-bottom: 3rem;
    text-align: center;
}

.copyright{
    text-align: center;
    margin-top: 5rem;
}

.grid-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-menu a{
    display: block;
    text-align: center;
}